# Default ignored files
/shelf/
/workspace.xml
.idea/
*.iml
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
src/web_page/static/captcha_images/*.jpg
src/web_page/static/captcha_images/*.png
src/web_page/static/captcha_codes.txt
